<div class="container">
  <hr>
  <footer>
      <div class="col-lg-6" style="float:left;">
        <p>Copyright &copy; Treta Constructions 2014</p>
      </div>

      <div class="col-lg-6" style="float:left;">
        <ul class="list-unstyled list-inline list-social-icons" style="text-align:right;">
          <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
          <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
          <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a></li>
          
        </ul>
    </div>
  </footer>
</div><!-- /.container -->